mixin OpacityBanner()
  .banner-wrapper.loading
    .banner.J_OpacityBanner
      ul.banner-list
        li(data-background-color="#2b37e0").banner-item.active.J_OpacityBannerItem
          .banner-item-inner
            img(src=banner, alt="云筑电商官网")
        li(data-background-color="red").banner-item.J_OpacityBannerItem
          .banner-item-inner
            img(src=banner, alt="云筑电商官网")
        li(data-background-color="#005AEC").banner-item.J_OpacityBannerItem
          .banner-item-inner
            img(src=banner, alt="云筑电商官网")
        li(data-background-color="green").banner-item.J_OpacityBannerItem
          .banner-item-inner
            img(src=banner, alt="云筑电商官网")
      .banner-nav
        ol.banner-nav-list
          li.banner-nav-item.active.J_OpacityBannerNav
          li.banner-nav-item.J_OpacityBannerNav
          li.banner-nav-item.J_OpacityBannerNav
          li.banner-nav-item.J_OpacityBannerNav
