.footer-nav {
  height: 98px;
  background: #fff;
  border-top: 1px solid #e1e6ec;
  // box-shadow:0px 1px 0px 0px rgba(225,230,236,1);
}

.fn {
  &-desc {
    box-shadow: 0px 1px 0px 0px rgba(225, 230, 236, 1);
    @extend .clearfix;

    li {
      float: left;
      width: 25%;
      height: 98px;
      padding: 19px 0;
    }

    &-item {
      height: 60px;
      text-align: center;
      border-right: 1px solid #e1e6ec;

      &.last {
        border-right: 0;
      }
    }

    &-icon,
    &-text {
      display: inline-block;
      line-height: 60px;
      vertical-align: middle;
    }

    &-icon {
      font-size: 60px;
      margin-right: 12px;
    }

    &-text {
      font-size: 18px;
    }
  }

  &-divide {
    width: 1px;
    height: 12px;
    margin: 0 6.5px;
    background-color: $font-gray-color;
  }

  &-list {
    li + li {
      margin-left: 85px;
    }

    li {
      display: inline-block;

      dl {
        dt {
          color: $font-black-color;
          margin-bottom: 20px;
        }

        dd {
          color: $font-gray-color;

          a,
          span {
            display: inline-block;
            color: inherit;
            vertical-align: middle;
          }

          a {
            &:hover {
              color: $primary-color;
            }
          }
        }
      }

      dd + dd {
        margin-top: 5px;
      }
    }
  }

  &-qr {
    li {
      display: inline-block;
    }

    li + li {
      margin-left: 20px;
    }

    dd {
      img {
        width: 58px;
        height: 58px;
      }
    }
  }

  &-wrap {
    padding-top: 35px;
    padding-bottom: 35px;
    @extend .clearfix;
  }

  &-list {
    float: left;
  }

  &-qr {
    float: right;

    dt {
      margin-bottom: 5px;
    }
  }

  &-cr {
    color: $font-gray-color;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-top: 1px dashed #E5E8ED;
  }
}
