.goods-grid {
  margin-right: -20px;
  line-height: 1.4166666666666667;
  @extend .clearfix;
}

.grid-item {
  float: left;
  width: 224px;
  padding: 21px 21px 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  transition: all .2s;

  &:hover {
    border: 1px solid $gray-color;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0, -2px, 0);

    .btn {
      color: #fff;
      border-color: $primary-color;
      background-color: $primary-color;
    }
  }

  .preview {
    &-bd {
      width: 180px;
      height: 180px;
      margin-bottom: 4px;
    }

    &-items {
      width: auto;
      height: 24px;
    }

    &-item {
      width: 24px;
      height: 24px;
      margin-right: 6px;
    }
  }

  &-price,
  &-title,
  &-spec,
  &-company {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  &-price {
    color: $font-orange-color;

    span {
      display: inline-block;
      vertical-align: middle;
      margin-right: 4px;
    }

    .currency,
    .text {
      font-size: 18px;
      line-height: 1.388888888;
    }
  }

  &-title {
    height: 34px;
    max-height: 34px;
    font-weight: 400;
    @include multiple-line-hide-text($lines: 2);

    a {
      color: $font-black-color;
      transition: color .2s;

      @include active-hover;
    }
  }

  &-title,
  &-spec {
    color: $font-black-color;
  }

  &-spec,
  &-company {
    height: 17px;
    @include single-line-hide-text($width: 100%);
  }

  &-company {
    color: $font-gray-color-1;
  }

  &-btn {
    .btn {
      height: 28px;
      padding-top: 0;
      padding-bottom: 0;
      transition: all .2s;
    }

    .icon,
    .text {
      display: inline-block;
      vertical-align: middle;
    }

    .icon {
      font-size: 1.2em;
      margin-right: 4px;
    }
  }
}
