.rule-bar {
  margin-bottom: 20px;

  .sort,
  .rule {
    height: 50px;
  }

  .sort,
  .type {
    a {
      color: inherit;
    }
  }

  .sort {
    background-color: $gray-color;
    border-top: 1px solid $default-disabled-color;

    &-list {
      float: left;
    }

    &-item {
      float: left;
      padding: 15.5px 21px;
      color: $font-black-color;
      cursor: pointer;

      &.active {
        color: $primary-color;
        background-color: #fff;
        border-left: 1px solid $default-disabled-color;
        border-right: 1px solid $default-disabled-color;

        .icon {
          color: $primary-color;
        }
      }

      .icon {
        color: $font-gray-color;
        margin-left: 4px;
      }
    }

    &-price {
      display: inline-block;
      margin-left: 60px;
      padding: (50px - 29px) / 2;

      &:hover {
        background-color: #fff;

        .btn {
          display: inline-block;
        }
      }

      input {
        width: 68px;
        height: 28px;
        padding: 8px;
        font-size: 1em;
        border: 1px solid #CDD2D9;
      }

      span {
        margin-left: 7.32px;
        margin-right: 7.32px;
      }

      .btn {
        display: none;
        width: 40px;
        height: 28px;
        padding: 0;
        margin-left: 20px;
        line-height: 28px;
        color: #fff;
        vertical-align: top;

        @include active-hover;
      }
    }

    .type {
      float: right;

      &-item {
        float: left;
        padding: 15.5px 13px;
        color: $font-black-color;
        cursor: pointer;

        &.active {
          color: $primary-color;
          background-color: #fff;
          border-left: 1px solid $default-disabled-color;
          border-right: 1px solid $default-disabled-color;

          .icon {
            color: $primary-color;
          }
        }

        .icon {
          color: $font-gray-color;
          margin-right: 4px;
        }

        &.pager {
          padding-top: 13px;
          padding-bottom: 13px;
        }
      }
    }
  }

  .rule {
    border: 1px solid $default-disabled-color;

    &-item {
      display: inline-block;
      vertical-align: middle;

      a,
      span,
      .icon {
        display: inline-block;
        vertical-align: middle;
      }

      .icon.checkbox {
        margin-right: 4px;
      }

      &.addr {
        padding: 10px 20px;

        .text {
          margin-right: 8px;
          color: $font-gray-color-1;
        }
      }

      &.bid {
        margin-left: 20px;
        margin-right: 40px;
      }

      &.d {
        margin-right: 20px;
      }
    }
  }
}
