$ss-hd-width: 110px;
$ss-bd-height: 40px;
$ss-ft-width: 110px;

.spec-selector {
  margin: 20px auto;
  box-shadow: 0px 1px 0px 0px rgba(225, 230, 236, 1), 0px -1px 0px 0px rgba(225, 230, 236, 1);

  .ss {
    &-item {
      position: relative;
      border-bottom: 1px solid #e2e4e6;
      background-color: #eff1f4;

      &:last-child {
        border-bottom: 0;
      }

      &.expanded,
      &.multi-select {
        // margin-top: -1px;
        // border-top: 1px solid $font-gray-color;
        // border-bottom: 1px solid $font-gray-color;
        .ss-hd {
          height: auto;
          white-space: normal;
          text-overflow: unset;
        }

        .ss-bd {
          height: auto;

          &-btn {
            display: inline-block;
          }

          &-item.active {
            .icon {
              display: none;
            }
          }
        }
      }

      &.multi-select {
        .ss-ft {
          display: none;
        }
      }
    }

    &-hd {
      float: left;
      @include single-line-hide-text($width: 100%);
      width: $ss-hd-width;
      height: 40px;
      padding: 0 20px;
      color: $font-gray-color;
      line-height: 40px;
    }

    &-bd,
    &-ft {
      background-color: #fff;
    }

    &-bd {
      overflow: hidden;
      height: $ss-bd-height;
      margin-left: $ss-hd-width;
      padding-right: $ss-ft-width;
      background-color: #fff;
      transition: height ease-in-out 0.2s;
      will-change: height;

      &-item {
        position: relative;
        display: inline-block;
        height: 24px;
        line-height: 24px;
        @include single-line-hide-text($width: 102.5px);
        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: 20px;
        color: #3f6fbc;
        // height: $ss-bd-height;
        vertical-align: middle;
        @extend .clearfix;

        span {
          // float: left;
          display: inline-block;
          // vertical-align: middle;
        }

        .icon.icon-close {
          display: none;
          position: absolute;
          top: 0;
          right: 0;
          width: 24px;
          height: 24px;
          text-align: center;

          @include active-hover;
        }

        .checkbox {
          position: relative;
          top: -1px;
          margin-right: 5px;
        }

        &.active {
          color: #fff;
          background-color: $primary-color;

          .icon {
            display: inline-block;
          }

          .name {
            @include single-line-hide-text($width: 80px);
            padding-left: 5px;
          }
        }
      }

      &-btn {
        display: none;
        margin-left: 20px;
      }
    }

    &-ft {
      position: absolute;
      top: 8px;
      right: 0;

      .text {
        display: inline-block;
        vertical-align: middle;
      }

      .tag + .tag {
        margin-left: 6px;
      }

      .tag {
        padding: 0.223em .645em;

        .icon {
          font-size: 0.8em;
          margin-right: 5px;

          &-plus,
          &-arrow-down {
            position: relative;
            top: -1px;
          }
        }
      }
    }
  }
}
