@import "lib/reset";
@import "lib/iconfont";
@import "lib/SpriteIcon";
@import "lib/SpriteImage";
@import "lib/SpriteSale";
@import "components/Grid";

@import "section/HeaderSiteNav";
@import "section/HeaderHomeTop";
@import "section/HeaderHomeNav";
@import "section/FooterSiteNav";
@import "section/CategoryMenu";


// common classes
body {
  min-width: $container-width;
}

input,
select,
button {
  &:focus {
    outline: $primary-color solid 1px;
    outline-offset: -1px;
  }
}

.container {
  position: relative;
  width: $container-width;
  margin: 0 auto;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.font-black {
  color: $font-black-color;
}

.font-gray {
  color: $gray-color;
}

.font-gray-light {
  color: $font-gray-color-1;
}

.font-primary {
  color: $primary-color;
}

.mt20{
  margin-top: 20px;
}

.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.icon {
  display: inline-block;
  // vertical-align: middle;
}
