extends ../../includes/layout.pug

block HeaderHomeNav
  include ../../includes/components/HeaderHomeNav/index.pug
  +HeaderHomeNav(true)

block content
  include ../../includes/components/StoreContent/index.pug
