.rule-bar
  .sort.clearfix
    ul.sort-list.clearfix
      li.sort-item.active
        span 综合
      li.sort-item
        span 价格
        i.icon.yzwfont.icon-sort
      li.sort-item
        span 销量
        i.icon.yzwfont.icon-sort
    .sort-price
      input(type="number", placeholder="最低价")
      span -
      input(type="number", placeholder="最高价")
    ul.type
      li.type-item.type-gird.active
        i.icon.yzwfont.icon-gird
        span 大图
      li.type-item.type-list
        i.icon.yzwfont.icon-list
        span 列表
      include ../../mixins/InlinePagination.pug
      -var totalLength = 90, currentPage = 1, pageNum = 20
      li.type-item.pager
        +InlinePagination(totalLength, currentPage, pageNum).black
  .rule.clearfix
    .rule-item.addr
      span.text 配送至
      - var distributionAddr = ['四川省', '成都市', '高新区', '华阳镇街道']
      if distributionAddr
        include ../../mixins/Cascader/index.pug
        +Cascader(distributionAddr).rule-item

    include ../../mixins/CheckBox/index.pug
    .rule-item.bid
      +Checkbox()
      span 中标商品
    .rule-item.d
      +Checkbox()
      span 次日达
    .rule-item.d
      +Checkbox()
      span 2日达
    .rule-item.d
      +Checkbox()
      span 2日达

