mixin InlinePagination(totalLength, currentPage, pageNum)
  .inline-pagination&attributes(attributes)
    | 共
    span.inline-pagination-total 89
    span 种商品
    span.inline-pagination-number
      span.inline-pagination-current
        | #{currentPage}
      span.inline-pagination-separator
        | /
      span.inline-pagination-all
        | #{Math.ceil(totalLength / pageNum)}
    span.inline-pagination-trigger.clearfix
      a(href="javascript:void(0);", title="上一页").inline-pagination-trigger-prev
        i.icon.yzwfont.icon-arrow-left
      a(href="javascript:void(0);", title="下一页").inline-pagination-trigger-next
        i.icon.yzwfont.icon-arrow-right
