- var placeholder = require('assets/image/placeholder.png')

mixin ProductListItem(tender)
  .product-list-item&attributes(attributes)
    .product-list-head-title.product-list-head-img
      img(src=placeholder, alt="placeholder")
    .product-list-head-title.product-list-head-info
      .product-list-item-cont
        .product-list-head-info-t JSP 01-9041 威力9 ABS T类安全帽 蓝色（内衬调整轮式）
        if tender
          .product-list-head-info-i
            i.icon.yzwicon.yzwicon-bid
        .product-list-head-info-b
          | 由江西工业制造商负责发货
    .product-list-head-title.product-list-head-brand
      .product-list-item-cont
        | 海华
    .product-list-head-title.product-list-head-spec
      .product-list-item-cont
        | 300MM 12寸 ABS 塑料/安全帽/上海禄华/蓝色...
    .product-list-head-title.product-list-head-desc
      .product-list-item-cont
        | 请至少选购6顶，且订购数量为3的倍数
    .product-list-head-title.product-list-head-price
      .product-list-item-cont
        | 88.90/顶
    .product-list-head-title.product-list-head-stock
      .product-list-item-cont
        | 999
    .product-list-head-title.product-list-head-amount
      .product-list-item-cont
        include InputNumber/index.pug
        +InputNumber(0)
        include ShoppingCartIcon.pug
        +ShoppingCartIcon(tender)

