mixin Floor(title = "劳保防护", desc = "安全可靠更放心")
  .yzw-floor
    .yzw-title
      h2= title
        small= desc
    .yzw-stage
      ul.yzw-stage-list
        li.yzw-stage-item.yzw-stage-image
          figure.yzw-stage-figure
            img(src="", alt="")
            figcaption
              if title
                h4= title
                if smallTitle
                small= smallTitle
        li.yzw-stage-item
          .yzw-stage-t
            .yzw-stage-t-img
              img(src="", alt="")
            .yzw-stage-t-info.yzw-small-title
              h4 安全帽
              small 专注成就安全
          .yzw-stage-b
            .yzw-stage-b-l
              img(src="", alt="")
            .yzw-stage-b-r
              .yzw-stage-t-info.yzw-small-title
                h4 反光服
                small 安全渡过每一天
        li.yzw-stage-item
          .yzw-stage-t
            .yzw-stage-t-img
              img(src="", alt="")
            .yzw-stage-t-info.yzw-small-title
              h4 安全带
              small 耐磨防滑牢固
          .yzw-stage-b
            .yzw-stage-b-l
              img(src="", alt="")
            .yzw-stage-b-r
              .yzw-stage-t-info.yzw-small-title
                h4 劳保鞋
                small 从脚注重保护
        li.yzw-stage-item
          .yzw-stage-t
            .yzw-stage-t-img
              img(src="", alt="")
            .yzw-stage-t-info.yzw-small-title
              h4 安全带
              small 耐磨防滑牢固
          .yzw-stage-b
            .yzw-stage-b-l
              img(src="", alt="")
            .yzw-stage-b-r
              .yzw-stage-t-info.yzw-small-title
                h4 劳保鞋
                small 从脚注重保护
        li.yzw-stage-item
          .yzw-stage-t
            .yzw-stage-t-img
              img(src="", alt="")
            .yzw-stage-t-info.yzw-small-title
              h4 面具
              small 密合效果良好
          .yzw-stage-b
            .yzw-stage-b-r
              .yzw-stage-t-info.yzw-small-title
                h4 查看更多
                small 热销商品
            .yzw-stage-b-l
              i.yzwicon.yzwicon-arrow-right-circle-ghost

