
.breadcrumb {
  color: $font-gray-color;
  margin-top: $breadcrumb-item-gap;
  margin-bottom: $breadcrumb-item-gap;

  &-item {
    height: $breadcrumb-item-height;
    line-height: $breadcrumb-item-height;

    & + & {
      margin-left: $breadcrumb-item-gap;
    }
  }

  .icon {
    font-size: .7em;
    color: #BABDC2;
    margin: 0 .3em;
  }

  span,
  a {
    color: inherit;
  }

  a {
    &:hover {
      color: $primary-color;
    }
  }
}
