.cascader {
  display: inline-block;
  border: 1px solid #E1E6EC;
  vertical-align: middle;

  &-hd {
    position: relative;
    cursor: pointer;

    &-val {
      height: 28px;
      padding-left: 8px;
      padding-right: 8px;
      line-height: 28px;
      border: 0;
    }

    &-val,
    &-icon {
      display: inline-block;
      vertical-align: middle;
    }

    &-icon {
      padding: 4px 8px;
    }
  }
}
