$float-bar-gap: 40px;
$float-bar-width: 88px;

.float-bar {
  position: fixed;
  bottom: 50px;
  left: 50%;
  text-align: center;
  margin-left: -($container-width / 2) - $float-bar-gap - $float-bar-width;
  width: 50px;
  background: rgba(255,255,255,1);
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
  z-index: 9999;
  width: 88px;
  background: #fff;

  &-item {
    width: $float-bar-width;
    padding: 15px 20px;
    color: $font-black-color;
    font-weight:500;
    font-size: 18px;
    line-height: 25px;

    &.active {
      letter-spacing: .1em;
      color: #fff;
      background-image: linear-gradient(135deg,rgba(0,147,247,1) 0%,rgba(0,90,236,1) 100%);
    }
  }
}
