.row {
  position: relative;
  display: block;
  height: auto;
  margin-left: 0;
  margin-right: 0;
  zoom: 1;
  box-sizing: border-box;
  @extend .clearfix;
}

.col {
  position: relative;
  float: left;
  display: block;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
}

@for $i from 1 through 24 {
  .col-#{$i} {
    width: 100% / (24 / $i);
  }
}
