// inline-pagination
.inline-pagination {
  color: $font-gray-color;
  font-size: 12px;
  vertical-align: middle;

  &-total,
  &-number {
    padding: 0 .3em;
    line-height: 1.5;
  }

  &-total {
    color: $primary-color;
  }

  &-number {
    margin-left: 20px;
    margin-right: 5px;
  }

  &-trigger {
    display: inline-block;
    line-height: 20px;
    border: 1px solid #E1E6EC;

    .icon {
      display: inline-block;
      font-size: .8em;
    }

    a {
      display: inline-block;
      padding: 0 .7em;
      line-height: 20px;
      text-align: center;
      color: $font-gray-color;

      @include active-hover;
      @include disabled;
    }

    &-prev {
      border-right: 1px solid #E1E6EC;
    }
  }
}
