.show-more {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #EFF1F4;

  &-icon {
    position: absolute;
    left: 50%;
    bottom: -18px;
    margin-left: -24px;
    width: 48px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    background-color: #fff;
    border-radius: 0 0 2px 2px;
    border-left: 1px solid $gray-color;
    border-right: 1px solid $gray-color;
    border-bottom: 1px solid $gray-color;

    .icon {
      transition: transform .2s linear;
      will-change: transform;
    }

    @include active-hover;
    @include disabled;
  }
}
