.tag {
  display: inline-block;
  padding: .273em .5em;
  text-align: center;
  font-size: 11px;

  &-default {
    color: $font-gray-color;

    @include active-hover;
  }

  &-primary {
    color: #fff;
    background-color: $primary-color;
  }

  &-warning {
    background-color: $notice-color;
  }

  &-ghost {
    @extend .tag-default;
    border: 1px solid #E1E6EC;

    &-primary {
      color: $primary-color;
      border: 1px solid $primary-color;
    }

    &-warning {
      @extend .tag-warning;
    }
  }
}
