mixin GoodsGridItem(title)
  - var img = ''
  - var specification = ['威力', '300MM', '12寸']
  - var company = '震坤行工业超市有限公司'
  include ../PreviewSwitcher/index.pug
  .grid-item.clearfix
    +PreviewSwitcher(3, false)
    .grid-item-price
      span.currency ¥
      span.text 88.90
      span.separator /
      span.unit 顶
    .grid-item-title
      = title
    .grid-item-spec
      = specification.join(' ')
    .grid-item-company
      = company
    .grid-item-btn
      button.btn.btn-default.btn-ghost
        i.icon.yzwfont.icon-shopping-cart-ghost
        span.text 加入购物车

