mixin GoodsGrid(num)
  - var goods = new Array(num).fill(0).map((_, i) => ++i)
  - var title = '塑料威力T类安全帽黄色（内衬调整轮式）'
  include GoodsGridItem.pug
  each good in goods
    +GoodsGridItem(`${title}${good}`)
