extends ../../includes/layout.pug

block HeaderHomeNav
  include ../../includes/components/HeaderHomeNav/index.pug
  +HeaderHomeNav(false)

block content
  include ../../includes/components/OfficeHomeContent/index.pug
