extends ../../includes/layout.pug

block HeaderHomeNav
  include ../../includes/components/HeaderHomeNav/index.pug
  +HeaderHomeNav(false)

block content
  include ../../includes/components/HomeMainContent/index.pug
  include ../../includes/mixins/SideBar/index.pug
  +SideBar()
  include ../../includes/mixins/FloatBar/index.pug
  +FloatBar()
