extends ../../includes/layout.pug

block content
  .site-banner
    .container
      img(src=require('assets/image/banner.png'), alt="")
  .ad-banner
    .container
      .ad-banner-inner
        img(src=require('assets/image/ad-banner.png'), alt="云筑智能仓库")
