.footer-nav
  .container
    ul.footer-nav-desc
      li
        span.sprite.resourceSupply-wrap
          div.sprite.resourceSupply
        span 优质的资源供应
      li
        span.sprite.background-wrap
          div.sprite.background
        span 强大的行业背景
      li
        span.sprite.finance-wrap
          div.sprite.finance
        span 融资一触即达
      li
        span.sprite.platform-wrap
          div.sprite.platform
        span 全球领先建筑交易平台
  .footer-nav-list
