extends ../../includes/layout.pug

block content
  - var links=[
  -   { href: '/', title: '首页'},
  -   { href: '/category/work', title: '劳保用品' },
  - ]
  - var totalLength = 90, currentPage = 1, pageNum = 20
  .container
    .breadcrumb
      if links
        for link in links
          if (link.href)
            a.breadcrumb-item(href=link.href, title=link.title)= link.title
            i.icon.yzwfont.icon-arrow-right
          else
            span.breadcrumb-item(title=link.title)= link.title
        span.breadcrumb-item.breadcrumb-tag
          a(href='./category/work/helmet', title='安全帽').breadcrumb-tag--text 安全帽️️
          span.breadcrumb-tag--icon
            i.yzwfont.icon-close
        i.icon.yzwfont.icon-arrow-right
        span.breadcrumb-item.breadcrumb-tag
          a(href='./category/work/helmet/stronger', title='增强安全帽').breadcrumb-tag--text 安全帽️️增强安全帽️️️⛑️
          span.breadcrumb-tag--icon
              i.yzwfont.icon-close

    //- SpecSelector
    include ../../includes/mixins/SpecSelector/index.pug
    +SpecSelector()

    //- RuleBar
    include ../../includes/mixins/RuleBar/index.pug
    +RuleBar(totalLength, currentPage, pageNum)

    //- Goods Grid Layout
    include ../../includes/mixins/GoodsGrid/index.pug
    +GoodsGrid(pageNum)

    //- Goods List Layout
    include ../../includes/mixins/GoodsList/index.pug
    +GoodsList(pageNum)

    include ../../includes/mixins/BlockPagination.pug
    +BlockPagination(totalLength, currentPage, pageNum).gap20.gap-b-40
