- var loginStatus = false
- var hotWords = [1, 2, 3, 4, 5, 6, 7]
- var cartBadge = 5
.head-top
  .container.head-top-bd
    .head-top-logo
      h1
        a(href="//www.yzw.cn").head-top-logo-bd
          | 云筑网
    .head-top-search
      include ../../mixins/SearchTab/index.pug
      +SearchTab()
    .head-top-button
        a(href="/shoppingCart")
          button.head-top-button-item.head-top-button__cart
            i.icon.yzwfont.icon-shopping-cart-ghost
            span 我的购物车
            if cartBadge
              span.head-top-button__cart--badge #{cartBadge}
        if !loginStatus
          a(href="/login")
            button.head-top-button-item.head-top-button__login
              | 登录

