mixin RuleBar(totalLength, currentPage, pageNum)
  .rule-bar.J_RuleBar
    .sort.clearfix
      ul.sort-list.clearfix
        li.sort-item.active
          a(href="")
            span 综合
        li.sort-item
          a(href="")
            span 价格
            i.icon.yzwfont.icon-sort
        li.sort-item
          a(href="")
            span 销量
            i.icon.yzwfont.icon-sort
      .sort-price
        input(type="number", value="", placeholder="最低价", aria-label="价格最小值", data-field="reserveStart").J_MinPriceInput
        span -
        input(type="number", value="", placeholder="最高价", aria-label="价格最大值", data-field="reserveEnd").J_MaxPriceInput
        a.btn.btn-primary.J_PriceConfirm 确定
      ul.type
        li.type-item.type-gird.active
          a(href="")
            i.icon.yzwfont.icon-gird
            span 大图
        li.type-item.type-list
          a(href="")
            i.icon.yzwfont.icon-list
            span 列表
        include ../../mixins/InlinePagination.pug
        li.type-item.pager
          +InlinePagination(totalLength, currentPage, pageNum).black
    .rule.clearfix
      .rule-item.addr
        span.text 配送至
        - var distributionAddr = ['四川省', '成都市', '高新区', '华阳镇街道']
        if distributionAddr
          include ../Cascader/index.pug
          +Cascader(distributionAddr).rule-item

      include ../CheckBox/index.pug
      .rule-item.bid
        a(data-param=`{"bid": true}`)
          +Checkbox().checked
          span 中标商品
      .rule-item.d
        a(data-param=`{"tag": 0}`)
          +Checkbox()
          span 次日达
      .rule-item.d
        a(data-param=`{"tag": 1}`)
          +Checkbox()
          span 2日达
      .rule-item.d
        a(data-param=`{"tag": 2}`)
          +Checkbox()
          span 3日达

