.product
  .product-intro
    .product-intro-l
      include ../../mixins/PreviewSwitcher/index.pug
      +PreviewSwitcher()
    .product-intro-r
      include ProductDetails.pug
  include ProductList.pug
